body{
	background-color: rgba(169, 215, 233, 0.45);
	font-family: 'Ubuntu', sans-serif;
	margin-top: 2%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 2%;
}

h1{
	font-family: 'Ubuntu', sans-serif;
}

blockquote {
	font-weight:bold;
	font-family: Consolas;
}

/*-----Whole body content-----*/
.page {
	width: 850px;
	background-color: white;
	margin: auto;
	padding: 50px;
	padding-top: 35px;
	margin-bottom: 20px;
	border-radius: 30px;
}

/*-----Footer part-----*/
.div-footer {
	width: 850px;
	margin:auto;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	font-size:14px;
	color:grey;
	background-color: white;
	border-radius: 10px;
}

/*-----Vis's container-----*/
.vis-container {
	width: 100%;
}

/*-----Closable banner-----*/
#fixed-alert {
    width: 100%;
    background-color: rgb(146, 214, 243);
    position: fixed;
	top: 0;
    padding-top: 0.6%;
	padding-bottom: 0.6%;
	font-size: 18px;
	z-index: 1;
	text-align: center;
}
#btn-dismiss {
    width: auto;
	background-color: transparent;
	color: rgb(171, 12, 6);
	font-weight:bold;
	font-size: 18px;
	border: none;
	outline: none;
	cursor: pointer;
	overflow: hidden;
}

/*-----Tooltip texts at some vis-----*/
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px none black; /* If you want dots under the hoverable text */
	cursor: help;
}
.tooltip .tooltipText {
	visibility: hidden;
	width: 150px;
	background-color: #555;
	font-size: 14px;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 80%;
	left: 0%;
	margin-left: -60px;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}
.tooltip .tooltipText::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltipText {
	visibility: visible;
	opacity: 1;
}